<div class="l-grid-row l-home-row">
  <div class="l-page-container l-home-row-accent--alt1__content" style="display: flex">
    <div class="l-home-row-accent__column l-column-half" style="border: solid 1px black">
      <h1 class="l-home-single-column-heading">Welcome to Pension Wise</h1>
      <p>Free and impartial government
        <br />
        guidance on your pension options.</p>
    </div>
    <div class="l-column-half" style="border: solid 1px black">
      <h2 class="l-home-single-column-subheading">Popular pages</h2>
      <ul class="quick-links">
        <li class="quick-links__link"><a href="/pension-pot-value">Check how much is in your pot</a></li>
        <li class="quick-links__link"><a href="/tax">Tax and pensions</a></li>
        <li class="quick-links__link"><a href="/state-pension">The State Pension</a></li>
        <li class="quick-links__link"><a href="/scams">How to avoid a pension scam</a></li>
        <li class="quick-links__link"><a href="/pension-statements">Understand your pension statement</a></li>
      </ul>
    </div>
  </div>
</div>
