<div class="l-grid-row">
  <div class="l-page-container l-wwh-container">
    <div class="l-column-third l-home__who">
      <h2 class="l-home-single-column-heading">Who</h2>
      <p>Who needs a pensionwise appointment:</p>
      <ul>
        <li>50 and over</li>
        <li>Personal or workplace pension</li>
        <li>Want to take control</li>
        <li>Make sense of your options</li>
      </ul>
    </div>
    <div class="l-column-third l-home__what">
      <h2 class="l-home-single-column-heading">What</h2>
      <p>What is a Pension Wise appointment</p>
      <ul>
        <li>Specialised guidance</li>
        <li>45-60 minutes</li>
        <li>Over the phone or local to you</li>
      </ul>
    </div>
    <div class="l-column-third l-home__how">
      <h2 class="l-home-single-column-heading">How</h2>
      <p>How to book an appointment</p>
      <ul>
        <li>Phone (call us)</li>
        <li>Online</li>
      </ul>

      <a href="/appointments" class="button">Book a free appointment</a>
    </div>
  </div>
</div>
