<div class="l-grid-row l-home-row">
  <div class="l-page-container l-home-row-callout__content"  style="border: solid 1px black; color: black;">
    <div class="l-home-row-callout__column">
      <h2 class="l-home-single-column-heading">Find out your pension type</h2>
      <p>This will help you understand if you can book a pensionwise appointment</p>
      <a href="#" class="button">Start now</a>
    </div>
  </div>
</div>
