<div class="l-grid-row">
  <div class="l-page-container l-options-container" style="border: solid 1px black">
    <h2 class="l-home-single-column-heading" style="text-align: center">Don't know about your pension options?</h2>
  </div>
</div>

<div class="l-grid-row">
  <div class="l-page-container l-options-container" style="display: flex">
    <div class="l-column-half"  style="border: solid 1px black">
      <h2 class="l-home-single-column-heading">Talk to us</h2>
      <p>Speak to us about the different ways you can take you pension money</p>
      <a href="#" class="button">Book an appointment</a>
    </div>

    <div class="l-column-half"  style="border: solid 1px black">
      <h2 class="l-home-single-column-heading">Explore you options</h2>
      <p>There are six different ways you can take money from your pension pot</p>
      <a href="#" class="button">Start</a>
    </div>
  </div>
</div>
