<% content_for(:page_title, t('service.homepage.title')) %>
<% content_for(:meta_description, 'A free and impartial government service that helps you understand ' +
  'the options for your pension pot.') %>

<% content_for(:canonical_path, '/') %>

<%= render 'home_row_alt_1' %>

<%= render 'your_pension_options' %>
<%= render 'your_pension_types' %>

<div class="home-intro--big l-page-container">
  <p class="home-intro__text">Phone <b>0800 138 3944</b> to <a href="/appointments">book a free appointment</a></p>
</div>
